@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: #FAF3E0; 
  color: #4A4A4A; 
}
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #6A994E; 
    color: #FFFFFF;
    font-size: 1.8rem;
  }
  
  .search-section {
    text-align: center;
    margin: 20px 20;
  }
  
  input, select, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
  }
  
  input::placeholder {
    color: #A0A0A0;
    font-style: italic;
  }
  
  button {
    background-color: #FFB703; 
    color: #333333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #E59500;
  }
  
  .blog-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .blog-card {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }
  
  .blog-card:hover {
    transform: translateY(-5px);
  }
  
  .blog-card img {
    width: 100%;
     height: 200px; 
    object-fit: cover; 
    border-radius: 12px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #3A5A40;
    color: #FFFFFF;
    font-size: 0.9rem;
  }
  